<launch>

	<node name="movement_script" pkg="Time_Ifes_Vitoria" type="movement.py" respawn="true"/>
	
	<node name="ur5_control_script" pkg="Time_Ifes_Vitoria" type="ur5_control.py" respawn="true"/>
	
	<node name="main_control_script" pkg="Time_Ifes_Vitoria" type="main_control.py" respawn="true" output = "screen"/>

	<node name="trajectory_parameters_script" pkg="Time_Ifes_Vitoria" type="trajectory_parameters.py" respawn="true" />
	
	<node name="create_trajectory_script" pkg="Time_Ifes_Vitoria" type="create_trajectory.py" respawn="true"/>
	
	<node name="ur5_camera_script" pkg="Time_Ifes_Vitoria" type="ur5Camera.py" respawn="true"/>
	
	<node name="object_velodyne_script" pkg="Time_Ifes_Vitoria" type="object_velodyne.py" respawn="true"/>
	
	<node name="object_detection_script" pkg="Time_Ifes_Vitoria" type="object_detection.py" respawn="true"/>
	
	<node name="object_control_script" pkg="Time_Ifes_Vitoria" type="object_control.py" respawn="true"  output = "screen"/>
	
	<node name="kinect_compensation_script" pkg="Time_Ifes_Vitoria" type="kinect_compensation.py" respawn="true"/>

	<node name="detect_roll_script" pkg="Time_Ifes_Vitoria" type="detect_roll.py" respawn="true"/>


</launch>
