<launch>

	<!-- running the rosi joystick example node -->
	<node name="movement_script" pkg="rosi_challenge" type="movement.py" respawn="true"/>
	
	<node name="ur5_control_script" pkg="rosi_challenge" type="ur5_control.py" respawn="true"/>
	
	<node name="main_control_script" pkg="rosi_challenge" type="main_control.py" respawn="true"/>

	<node name="trajectory_parameters_script" pkg="rosi_challenge" type="trajectory_parameters.py" respawn="true"/>
	
	<node name="create_trajectory_script" pkg="rosi_challenge" type="create_trajectory.py" respawn="true"/>
	
	

</launch>
